.AdminPage:not(.AppearancePage) .Form-group,
.AppearancePage fieldset {
  background: @body-bg;
  padding: 25px;
  border-radius: 14px;

  .Button {
    --control-bg: @control-bg;

    &--primary {
      --control-bg: @primary-color;
    }
  }
}
