.sideNavOffset {
  background-color: @control-bg;

  /*.Button:not(.Button--primary):not([disabled]):not(.Button--dashed) {
    .Button--color(@control-color, @body-bg);
  }*/

  .Button {
    --control-bg: @body-bg;

    &--primary {
      --control-color: @body-bg;
      --control-bg: @primary-color;
    }
  }
  .Button--dashed {
    .Button--dashed();
  }

}

.Button {
  background-color: var(--control-bg);
  color: var(--control-color);
}

@media @desktop-up {
  .sideNav {
    margin-right: 0;
    height: 100vh;
  }

  .sideNavOffset {
    position: relative;
    padding-left: 1rem;
    z-index: 0;
  }
}
