.asirem-icon-block(@size: 30px, @bg: @control-bg, @br: @border-radius) {
  --size: @size;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: @br;
  box-shadow: @asirem-box-shadow;

  & when (isstring(@bg)) {
    background-color: @bg;
  }
}
