.Post {
  margin: 0 0 15px 0;
  background: @control-bg;
  border-radius: 8px;
}

.PostStream-item {
  &:not(:last-child) {
    border-bottom: none;
  }
}

.ReplyPlaceholder {
  margin-top: 30px;
}

.EventPost {
  background-color: transparent;

  .Post-footer {
    display: none;
  }
}

.EventPost .Post-actions, .Post--hidden:not(.revealContent) .Post-actions {
  margin-top: -30px;
}
